@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

body {
    font-family: "Sen", sans-serif;
    margin: 0;
    padding: 20px;
    width: 220px;
    background-color: #141419;
    color: #f1f4fa;
}

* {
    box-sizing: border-box;
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #ccccccd3;
    margin-top: 10px;
    text-align: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 62px;
    height: 32px;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    border-radius: 16px;
    background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
    transition: all 0.2s ease;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

input[type="checkbox"]:checked {
    border-color: #ff0033;
}

input[type="checkbox"]:checked::after {
    transform: translateX(30px);
}
